body,html {
  font-family:'Open Sans', sans-serif;
  width:100%;
  padding:0;
  margin:0;
  background:#F7F5F4;
}

#year-selector .year {
  text-align:center;
  margin-top:10px;
}


#ctn {
  width:100%;
  max-width:1140px;
  margin:0 auto;
}

#header {
  width:100%;
  background:#fff;
  box-shadow: 0 2px 1px #999;
  margin:0;
  margin-top:0;
  padding:20px;
  z-index:9990;
  position:fixed;
  height:60px;
/*  background:#F7F5F4;*/
}

#about {
  width:22%;
  float:left;
  margin-top:120px;
  padding-left:30px;
  padding-right:20px;
  border-right:1px dashed #ccc;
}


#about p {
  font-size:13px;
  color:#414042;
  line-height:20px;
}


#barchart {
  padding-left:20px;
  width:35%;
  overflow:scroll;
  float:left;
  margin-top:100px;
  position:relative;
  z-index:2;
  padding-top:20px;
}

#linechart {
  font-size:14px;
  color:#414042;
  border:1px dashed #ccc;
  position:relative;
  float:right;
  height:280px;
  width:320px;
  margin-top:130px;
  margin-right: 1%;
  z-index:1;
  background-color:#FFF;
  padding:20px;
}

#bubblechart {
  font-size:14px;
  color:#414042;
  margin-top:20px;
  position:relative;
  float:right;
  height:200px;
  width:320px;
  z-index:1;
  background-color:#FFF;
  border:1px dashed #ccc;
  padding:20px;
  margin-right: 1%;
}




.line {
  fill:none;
  stroke:#999;
  stroke-width:1.5px;
}


.axis path {display:none;}
.axis line {
  shape-rendering:crispEdges;
  stroke:#999;
}

text.theocc {
  height:25px;
}

#title {
  float:left;
  height:60px;
  margin-left:10px;
}

h1 {
  font-size:24px;
  margin:0;
  padding:0;
  font-family:'Droid Serif', serif;
  font-weight:400;
  color:#414042;
}

h3 {
  font-size:12px;
  margin:0;
  padding:0;
  font-family:'Droid Serif', serif;
  font-weight:400;
  color:#414042;
  padding-top:3px;
}

h4 {
  margin:0;
  padding:0;
  font-size:14px;
  font-color:#414042;
  font-weight:700;
}

h5 {
  font-size:20px;
  color:#939598;
  font-weight:700;
  margin:0;
  padding:0;
}

#selector {
  float:left;
  height:60px;
  color:#414042;
  font-size:14px;
}

.arrow {
  float:left;
  height:60px;
  width:50px;
  text-align:center;
}

#big-display {
  color:#58595B;
  font-weight:700;
  font-size:16px;
}

#big-display .ptime {
  font-size:24px;
  color:#F79151;
  font-weight:700;
}

.years {
  display:inline;
  margin-left:5px;
}

.tick text {
  font-size:12px;
  fill:#999;
}

.y .tick line {
  stroke:#ccc;
}





.ui-helper-hidden-accessible {display:none;}

/* Begin Combobox */
#selectWrapper {
	width: 350px;
}

.custom-combobox-toggle {
	height: 25px;
	margin-top: -4px;
	margin-left: -300px;
	border:none;
	background:none;
	color:#414042;

}

input.custom-combobox-input {
	color:#414042;
}

.custom-combobox-input {
	padding-left: 25px;
	padding-top: 2px;
	text-indent: 2px;
	font-size: 14px;
	color: #414042;
	border:none;
	border-bottom: 1px solid #999;
}

.ui-widget.ui-widget-content.ui-state-default.ui-corner-left.ui-autocomplete-input {
	border-radius: 0;
	width:340px;
	height:25px;
	background: transparent;
}

#ui-id-1 {
	width:350px;
	height: 400px;
	overflow: scroll;
	position: relative;
	z-index: 9999;
	border-radius: 0;
	border:1px solid #ccc;
}

.ui-menu .ui-menu-item a{
font-size:13px;
border-radius: none;
border:none;
}

.ui-menu .ui-menu-item a:hover {
	font-size:13px;
	background: #ccc;
	border:none;
	border-radius: none;
}



.custom-combobox-input:focus {
	outline: none;
}

.ui-menu-item {
	font-size: 14px;
	color: #414042;
}
/* End Combobox */


.ui-icon.ui-icon-triangle-1-s {
  margin-left:-56px;
}


/* Begin Edit placeholder */
::-webkit-input-placeholder {
   color: #414042;
}

:-moz-placeholder { /* Firefox 18- */
   color: #414042;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #414042;
}

:-ms-input-placeholder {
   color: #414042;
}
/* End Edit placeholder */
